.navList {
  display: flex;
}

.navItem {
  margin-right: 6px;
}

.navLink {
  display: block;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  background-color: #481499;
}